<div>
  <form ngNativeValidate #productData="ngForm" (ngSubmit)="insertRecord(productData)" class="form form-register" id="formNewProduct">
      <table>
        <tbody>
        <tr>
        <td>Location Name<span style="color: #ff0000;" >*</span></td>
        <td>
          <textarea id="locationName" name="locationName" required rows="2" cols="70" ngModel >
            
            </textarea>
           
        </td>
        </tr>
        <tr>
        <td>Building Names<span style="color: #ff0000;">*</span></td>
        <td>
          <textarea id="building1" name="building1" rows="4" cols="70" ngModel required>
            
          </textarea>
        </td>
        </tr>
        <tr>
        <td>Comments<span style="color: #ff0000;">*</span></td>
        <td>
          <textarea id="comments" name="comments" rows="2" cols="70" ngModel required>
            
          </textarea>
         
        </td>
        </tr>
        <tr>
        <td>% of this cost is borne by GLTi<span style="color: #ff0000;">*</span></td>
        <td>
          <textarea id="cost" name="cost" rows="2" cols="70" ngModel required>
            
          </textarea>
          
        </td>
        </tr>
        
        </tbody>
        </table>
        
          <br>
          <br>
          <br>
          <br>
          
          <button type="submit">
              Save 
             
          </button>
          
          <button>
            <a routerLink="/admin/location" > < back </a>
          </button>
          <router-outlet></router-outlet>
      </form>    
                  
</div>